* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: rgb(125, 235, 125);
  --font-style: "Prompt", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
}

h1 {
  margin-bottom: 20px;
  font-family: var(--font-style);
  font-weight: 600;
  font-size: 3rem;
  color: white;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

.cell {
  width: 100px;
  height: 100px;
  border: 5px solid #fcfafa;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell:first-child,
:nth-child(2),
:nth-child(3) {
  border-top: none;
}
.cell:nth-child(3n + 1) {
  border-left: none;
}
.cell:nth-child(3n + 3) {
  border-right: none;
}
.cell:last-child,
:nth-child(8),
:nth-child(7) {
  border-bottom: none;
}

h2 {
  margin-top: 20px;
  font-family: var(--font-style);
  color: white;
  font-size: 2rem;
  font-weight: 500;
}

.resetButton {
  font-size: 2rem;
  margin-top: 20px;
  font-weight: 600;
  cursor: pointer;
  color: rgb(247, 246, 246);
  font-family: var(--font-style);
  width: 250px;
  height: 70px;
  margin-top: 30px;
  border: 3px solid white;
  border-radius: 5px;
  background-color: var(--bg-color);
}

:root {
  --size: 50px; /* You can change the size here */
  --color: rgb(255, 255, 255); /* You can change the color here */
}

.x-shape,
.o-shape {
  margin: 20px;
}

.x-shape {
  position: relative;
  width: var(--size);
  height: var(--size);
}

.x-shape::before,
.x-shape::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(var(--size) * 1.5);
  height: 10px;
  background-color: var(--color);
  transform-origin: center;
}

.x-shape::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.x-shape::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.o-shape {
  width: var(--size);
  height: var(--size);
  border: 10px solid var(--color);
  border-radius: 50%;
  box-sizing: border-box;
}
